.button {
  padding: 0 16px;
  height: 30px;
  background: white;
  border: 1px solid transparent;
  border-radius: 6px;
  font-family: 'Onest';
  font-weight: 500;
  font-size: 12px;
  white-space: nowrap;
  &:hover, &:focus, &:active {
    background: white;
  }
  &_icon-inside {
    position: absolute;
    top: 0;
    right: 8px;
    height: 100%;
    border: none;
    padding: 0!important;
    background: transparent;
  }
  &_click-icon {
    padding: 8px 10px;
    border-radius: 6px;
    background: white;
    &:hover, &:active {
      box-shadow: $main-box-shadow;      
    }
    &:focus {
      background: rgba(237, 242, 251, 0.5);
      box-shadow: $focus-box-shadow;
    }
  }
  &_secondary {
    border-color: $secondary-color;
    color: $secondary-text-color;
    &:hover, &:focus, &:active {
      background: $main-bg-color;
    }
  }
  &.button_icon-right {
    padding-right: 5px;
    i {
      margin-left: 5px;
    }
  }
  &.button_icon-left i {
    margin-right: 8px;
  }
} 

@include media-breakpoint-up(md) {
  .button {
    font-weight: 300;
    font-size: 15px;
    height: 36px;
    border-radius: 10px;
    &_icon-inside {
      right: 12px;
    }
    &.button_icon-right {
      padding-right: 12px;
    }
  }
}