::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $secondary-color;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $secondary-color;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $secondary-color;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $secondary-color;
}
::placeholder {
  color: $secondary-color;
}
[type="search"] {
  outline-offset: 0;
}
.form {
  &__wrapper {
    position: relative;
  }
  &__item {
    padding: 0 16px;
    border-radius: 6px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    background: white;
    border: 1px solid $secondary-light-color;
    outline-color: $primary-color;
    width: 100%;
    text-overflow: ellipsis;
    &_icon-right {
      padding-right: 28px;
    }
  }   
}

@include media-breakpoint-up(md) {
  .form {
    &__item {
      height: 36px;
      line-height: 36px;
      font-size: 15px;
      &_icon-right {
        padding-right: 34px;
      }
      &_desktop-blue {
        background: $primary-light-color;
        border-color: $primary-light-color;
        + .button_icon-inside {
          background: transparent!important;
        }
      }
    }   
  }
}